.advantages ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding-top: 97px;
  padding-right: 25px;
  padding-left: 25px;
  max-width: 1220px;
  list-style: none;

  @media (max-width: $tablet-width) {
    align-items: center;
    padding-top: 39px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding-top: 20px;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }
}

.advantages__item {
  box-sizing: border-box;
  margin-bottom: 30px;
  padding-top: 38px;
  padding-right: 40px;
  padding-left: 40px;
  min-height: 299px;
  width: 48.71%;
  border: 1px solid $border;
  border-left: 3px solid $light;
  background-color: $white;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    padding-top: 24px;
    padding-right: 20px;
    padding-left: 24px;
    min-height: 306px;
    width: 47.91%;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
    padding-top: 24px;
    min-height: 310px;
    width: 90.62%;
  }

  & svg {
    fill: $light;
  }
}

.advantages h3 {
  @include roboto-cond(24px, 400, 34px);
  margin-top: 15px;
  margin-bottom: 15px;
  color: $light;

  @media (max-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 10px;
  }

  @media (max-width: $mobile-width) {
    @include roboto-cond(20px, 400, 34px);
    margin-top: 4px;
    margin-bottom: 6px;
  }
}

.advantages li:nth-of-type(3) svg {
  margin-bottom: 4px;
}

.advantages p {
  @include ptmono(16px, 400, 22px);
  color: $grey;

  @media (max-width: $tablet-width) {
    margin-top: 0;
  }
}

.advantages__item--hired {
  @media (max-width: $mobile-width) {
    padding-right: 11px;
    min-height: 310px;

    & svg {
      width: 31.61px;
      height: 32.18px;
    }

    & h3 {
      margin-top: 7px;
    }
  }
}

.advantages__item--detective,
.advantages__item--tag {
  @media (max-width: $tablet-width) {
    min-height: 232px;
  }
}

.advantages__item--detective {
  @media (max-width: $mobile-width) {
    min-height: 232px;
  }
}

.advantages__item--tag {
  @media (max-width: $mobile-width) {
    min-height: 244px;
  }
}

.advantages__item:hover {
  background-color: $light;

  h3,
  p {
    color: $white;
  }

  svg {
    fill: $white;
  }
}
