.advantages {
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 114px;
  justify-content: space-between;
}

.advantages div {
  box-sizing: border-box;
  width: 570px;
  min-height: 299px;
  margin-bottom: 30px;
  padding-top: 38px;
  padding-right: 40px;
  padding-left: 40px;
  cursor: pointer;
  border: 1px solid $border;
  border-left: 3px solid $light;

  & svg {
    fill: $light;
  }

  &:hover {
    background-color: $light;

    h3,
    p {
      color: $white;
    }

    svg {
      fill: $white;
    }
  }
}

.advantages h3 {
  @include roboto-cond(24px, 400, 34px);
  margin-top: 15px;
  margin-bottom: 15px;
  color: $light;
}

.advantages p {
  @include ptmono(16px, 400, 22px);
  color: $grey;
}
