.brand {
  display: flex;
  align-items: center;

  &--footer {
    margin-top: 15px;
  }
}

.brand__logo {
  width: 52px;
  height: 52px;
  margin-right: 15px;
  @media (max-width: $mobile-width) {
    width: 38px;
    height: 38px;
  }
}

.brand__name {
  min-width: 135px;
  margin-top: 5px;
  margin-bottom: 3px;
  color: $white;
  @include roboto-cond(25px, 700, 29px);

  &--footer {
  color: $brand-name;
  }

  @media (max-width: $tablet-width) {
    width: auto;
    margin-right: 0;
  }
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.brand__slogan {
  display: block;
  color: $slogan;
  @include roboto();
}
