.button {
  display: block;
  padding: 14px 0;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;

  @include roboto-cond(14px, 700, 16px);

  &--callback {
    min-width: 181px;
    max-width: 181px;
    margin-left: 3.5%;
    text-transform: uppercase;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.button:focus,
.button:hover {
  color: $grey;
  border: 1px solid $grey;
}
