.company {
  min-height: 793px;
  max-width: 1411px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid orange;

  @media (max-width: $tablet-width) {
    min-height: 613px; // временно для сетки
  }

  @media (max-width: $mobile-width) {
    min-height: 592px; // временно для сетки
  }
}
