.contacts {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  padding: 0;
  list-style: none;
  justify-content: flex-end;
  width: 100%;

  @media (max-width: $tablet-width) {
    padding-top: 2px;
  }

  @media (max-width: $mobile-width) {
    flex-wrap: nowrap;
  }
}

.contacts__item {
  position: relative;

  &:first-child {
    @media (max-width: $mobile-width) {
      padding-top: 3px;
    }
  }

  &:last-child {
    margin-left: 11.51%;
    @media (max-width: $tablet-width) {
    margin-left: 8.51%;
    }
  }
}

.contacts__link {
  color: $white;

  @include ptmono(16px, 400, 18px);

  &--email svg {
    @media (max-width: $tablet-width) {
      width: 24px;
      height: 24px;
    }

    @media (max-width: $mobile-width) {
      width: 25.33px;
      height: 18.67px;
    }
  }

  &--phone svg {
    @media (max-width: $tablet-width) {
      width: 24px;
      height: 24px;
    }
  }
}

.contacts__link svg {
  fill: $light;
  margin-right: 8px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}

.contacts__link span {
  color: $white;
}

.contacts__link span:focus,
.contacts__link span:hover {
  color: $white--50opacity;
}

.contacts__link svg:focus,
.contacts__link svg:hover {
  @media (max-width: $tablet-width) {
    fill: $white--50opacity;
  }

  @media (max-width: $mobile-width) {
    fill: $white--50opacity;
  }
}

.contacts__hide {
  @media (max-width: $tablet-width) {
    display: none;
  }
}
