.footer {
  position: relative;
}

.footer__line {
  display: none;
  @media (max-width: $tablet-width) {
    position: relative;
    top: 106px;
    display: block;
    height: 1px;
    margin-top: -8px;
    color: $line;
    border: 0 none;
    background-color: $line;
  }
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.footer__inner {
  display: flex;
  flex-wrap: wrap;
  width: 73.48%;
  max-width: 1411px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 48px;
  @media (max-width: $tablet-width) {
    width: 70.38%;
    padding-top: 0;
    min-width: 770px;
  }
  @media (max-width: $mobile-width) {
    width: 41.55%;
    min-width: 320px;
    padding-top: 0;
  }
}

.footer__social {
  margin-right: 14.67%;
  margin-bottom: 40px;
  @media (max-width: $tablet-width) {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin-right: auto;
    margin-bottom: 24px;
    margin-left: auto;
    padding: 20px 26px 23px;
    justify-content: space-between;
  }
  @media (max-width: $mobile-width) {
    flex-wrap: wrap;
    padding-top: 48px;
    border-bottom: 0;
    justify-content: center;
  }
}

.footer__info {
  margin-top: 45px;
  border-top: 1px solid $line;
  @media (max-width: $tablet-width) {
    margin-top: 23px;
    border-top: 1px solid $line;
  }
  @media (max-width: $mobile-width) {
    margin-top: 0;
  }
}

.footer__social-links {
  display: flex;
  margin-top: 53px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    margin-top: 10px;
    margin-right: 26px;

    & li:not(:first-child) {
      margin-left: 43px;
    }
  }
  @media (max-width: $mobile-width) {
    margin-top: 79px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
  }

  & li a::before {
    display: block;
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
  }

  & li:first-child a::before {
    width: 27px;
    height: 27px;
    background-image: url("../../img/fb.svg");
  }

  & li:nth-child(2) a::before {
    width: 27px;
    height: 27px;
    background-image: url("../../img/ok.svg");
  }

  & li:last-child a::before {
    width: 27px;
    height: 27px;
    background-image: url("../../img/vk.svg");
  }

  & li:not(:first-child) {
    margin-left: 41px;
  }
}

.footer__block-group {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  @media (max-width: $tablet-width) {
    padding: 0 36px 0 25px;
  }
  @media (max-width: $mobile-width) {
    margin-top: 12px;
    padding: 0;
  }
}

.footer__block {
  &--menu {
    margin-right: 6%;
    flex-grow: 1;
    @media (max-width: $mobile-width) {
      margin-right: 0;
      padding: 13px 0;
      border-top: 1px solid $line;
    }
  }

  &--office {
    @media (max-width: $mobile-width) {
      padding: 13px 0;
      border-top: 1px solid $line;
    }
  }
}

.footer__header {
  position: relative;
  @include roboto-cond(15px, 400, 16px);
  text-transform: uppercase;
  @media (max-width: $mobile-width) {
    padding-left: 16px;

    &:after {
      position: absolute;
      content: "";
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: contain;
      cursor: pointer;
    }

    &--close {
      &::after {
        right: 0;
        width: 16px;
        height: 16px;
        background-image: url("../../img/plus.svg");
      }
    }

    &--open {
      &::after {
        right: 0;
        width: 16px;
        height: 2px;
        background-image: url("../../img/minus.svg");
      }
    }
  }
}

.footer__list {
  @include ptmono(15px, 400, 25px);
  margin-top: 24px;
  padding: 0;
  list-style: none;
  color: $nav;
  @media (max-width: $mobile-width) {
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 20px;
  }

  &--column {
    column-count: 2;
    column-gap: 2%;
    @media (max-width: $tablet-width) {
      column-count: auto;
    }
  }

  &--hide {
    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  &--info {
    @include ptmono(13px, 400, 24px);
    display: flex;
    width: 73.48%;
    max-width: 1411px;
    margin-top: 13px;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    flex-grow: 1;
    @media (max-width: $tablet-width) {
      box-sizing: border-box;
      margin-top: 0;
      padding: 20px 17px;
      justify-content: space-between;
    }
    @media (max-width: $mobile-width) {
      flex-direction: column;
      padding-top: 28px;
      padding-right: 0;
      padding-left: 0;
      text-align: center;
    }

    & li:nth-child(2) {
      margin-left: 5.03%;
      @media (max-width: $tablet-width) {
        top: 30px;
        right: 0;
        bottom: 0;
        left: 0;
        width: 240px;
        margin-right: auto;
        margin-left: 44.5%;
      }
      @media (max-width: $mobile-width) {
        margin-top: 94px;
        margin-right: auto;
        margin-left: auto;
      }
    }

    & li:nth-child(3) {
      margin-left: 9.85%;
      @media (max-width: $tablet-width) {
        margin-left: 0;
      }
    }
  }
}

.footer__list a,
.footer__list a:link,
.footer__list a:visited {
  color: $nav;
}

.footer__list a:focus,
.footer__list a:hover {
  color: $nav;
}

.footer__copyright {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.footer__info-years {
  @media (max-width: $tablet-width) {
    @include ptmono(13px, 400, 24px);
    position: absolute;
    top: 0;
    margin-top: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.footer__developer {
  margin-left: auto;
  @media (max-width: $tablet-width) {
    margin-left: 0;
  }
  @media (max-width: $mobile-width) {
    margin-top: 21px;
  }
}
