.footer {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  // padding: 0 13.17%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 46px;
  @media (max-width: $tablet-width) {
    padding-top: 0;
  }
}

.footer__brand {
  margin-top: 6px;

  @media (max-width: $tablet-width) {
  margin-left: 5px;
  }
}

.footer__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1411px;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  padding: 0 3%;
  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 0;
  }
}

.footer__line {
  display: none;
}

.footer__social {
  padding-top: 9px;
  width: 30%;
  @media (max-width: $tablet-width) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $line;
    padding: 0 3% 23px;
  }
}



.footer__social-list {
  display: flex;
  padding: 0;
  list-style: none;
  margin-top: 53px;
  @media (max-width: $tablet-width) {
    margin-top: 25px;
  }

  & li:not(:first-child) {
    margin-left: 15px;
  }

  & li svg {
    fill: $social;
  }

  & li svg:focus,
  & li svg:hover {
      fill: $grey;
  }
}

.footer__block {
  @media (max-width: $tablet-width) {
    padding-top: 24px;
  }

  &--menu {
    // width: 576px;
    // margin-right: auto;
    flex-grow: 3;
    margin-right: 12%;
    @media (max-width: $tablet-width) {
      width: auto;
      flex-grow: 1;
      margin-right: 0;
      padding-left: 3%;
    }
  }

  &--office {
    flex-grow: 1;
    @media (max-width: $tablet-width) {
      padding-right: 3%;
      flex-grow: 0.1;
    }
  }
}

.footer__header {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  @include roboto-cond(15px, 400, 16px);
  color: $dark;
}

.footer__list {
  @include ptmono(15px, 400, 25px);
  color: $nav;
  padding: 0;
  list-style: none;
  margin-top: 25px;
  @media (max-width: $tablet-width) {
    margin-top: 24px;
  }
}

.footer__list a,
.footer__list a:link,
.footer__list a:visited {
  color: $nav;
}

.footer__list a:focus,
.footer__list a:hover {
  color: $dark;
}

.footer__list--menu {
  column-count: 2;
  column-gap: 25%;
  @media (max-width: $tablet-width) {
    column-count: auto;
  }
}
