.form {
  width: 570px;
  // padding-left: 5px;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
  }

  & p:first-of-type {
    @include roboto-cond(36px, 400, 51px);
    margin-top: 0;
    margin-bottom: 0;
    color: $white;
  }

  & p:nth-of-type(2) {
    @include ptmono(16px, 400, 22px);
    margin-top: 9px;
    color: $white;
  }
}

.form__inner {
  display: flex;
  flex-wrap: wrap;
  margin-top: 54px;
  // padding-right: 25px;
  justify-content: space-between;
}

.form__field input {
  width: 270px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: $white;
  border: none;
  background-color: $white--10opacity;

  @include ptmono(16px, 400, 22px);

  &::placeholder {
    opacity: 1;
    color: $white;

    @include ptmono(16px, 400, 22px);
  }
}

.form textarea {
  display: block;
  width: 100%;
  max-width: none;
  min-height: 154px;
  max-height: 154px;
  margin-top: 42px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  resize: none;
  color: $white;
  border: none;
  background-color: $white--10opacity;

  @include ptmono(16px, 400, 22px);

  &::placeholder {
    opacity: 1;
    color: $white;

    @include ptmono(16px, 400, 22px);
  }
}

.form button {
  display: block;
  width: 270px;
  padding: 14px 0;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;
  background-color: $light;

  @include roboto-cond(14px, 700, 16px);
  // margin-right: auto;
  &:focus,
  &:hover {
    opacity: 0.5;
  }

  &:active {
    color: $grey;
  }
}

.form__acceptance {
  display: flex;
  width: 100%;
  margin-top: 43px;
  justify-content: space-between;

  @include ptmono(14px, 400, 16px);
  color: $white;
}

.form__acceptance label {
  position: relative;
  width: 287px;
  padding-left: 56px;
  padding-top: 10px;
}

.form__acceptance input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__acceptance label::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  left: 24px;
  top: 10px;
  background-image: url("../../img/unchecked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__acceptance input:checked + label::before {
  background-image: url("../../img/checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}
