.form {
  width: 570px;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    width: 595px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto;
    width: 100%;
  }

  & p:first-of-type {
    @include roboto-cond(36px, 400, 51px);
    margin-top: 0;
    margin-bottom: 0;
    color: $white;

    @media (max-width: $tablet-width) {
    @include roboto-cond(32px, 400, 51px);
    }

    @media (max-width: $mobile-width) {
    @include roboto-cond(28px, 400, 41px);
    }
  }

  & p:nth-of-type(2) {
    @include ptmono(16px, 400, 22px);
    margin-top: 9px;
    color: $white;

    @media (max-width: $tablet-width) {
    margin-top: 13px;
    }

    @media (max-width: $mobile-width) {
    margin-top: 10px;
    }
  }
}

.form__inner {
  display: flex;
  flex-wrap: wrap;
  margin-top: 54px;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
  margin-top: 26px;
  }
}

.form__field {
  @media (max-width: $mobile-width) {
  width: 100%;
  }
}


.form__field input {
  width: 270px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: $white;
  border: none;
  background-color: $white--10opacity;

  @include ptmono(16px, 400, 22px);

  @media (max-width: $tablet-width) {
    min-width: 280px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 17px;
    padding-right: 17px;
  }

  &::placeholder {
    opacity: 1;
    color: $white;

    @include ptmono(16px, 400, 22px);
  }
}

.form textarea {
  display: block;
  width: 100%;
  max-width: none;
  min-height: 154px;
  max-height: 154px;
  margin-top: 42px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  resize: none;
  color: $white;
  border: none;
  background-color: $white--10opacity;

  @include ptmono(16px, 400, 22px);

  @media (max-width: $tablet-width) {
    min-height: 165px;
    max-height: 165px;
  }

  @media (max-width: $mobile-width) {
  margin-top: 4px;
  min-height: 104px;
  max-height: 104px;
  }

  &::placeholder {
    opacity: 1;
    color: $white;

    @include ptmono(16px, 400, 22px);
  }
}

.form button {
  display: block;
  width: 270px;
  padding: 14px 0;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;
  background-color: $light;
  letter-spacing: 0.05em;
  @include roboto-cond(14px, 700, 16px);


  @media (max-width: $tablet-width) {
  width: 285px;
  }

  @media (max-width: $mobile-width) {
  width: 290px;
  }

  &:focus,
  &:hover {
    opacity: 0.5;
  }

  &:active {
    color: $grey;
  }
}

.form__acceptance {
  display: flex;
  width: 100%;
  margin-top: 43px;
  justify-content: space-between;

  @include ptmono(14px, 400, 16px);
  color: $white;

  @media (max-width: $tablet-width) {
  margin-top: 41px;
  }

  @media (max-width: $mobile-width) {
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
  }
}

.form__acceptance label {
  position: relative;
  width: 287px;
  padding-left: 56px;
  padding-top: 10px;

  @media (max-width: $tablet-width) {
  padding-left: 49px;
  }

  @media (max-width: $mobile-width) {
  padding-left: 34px;
  padding-top: 32px;
  }
}

.form__acceptance input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__acceptance label::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  left: 24px;
  top: 10px;
  background-image: url("../../img/unchecked.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: $tablet-width) {
  left: 16px;
  }

  @media (max-width: $mobile-width) {
  top: 32px;
  left: 1px;
  }
}

.form__acceptance input:checked + label::before {
  background-image: url("../../img/checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}
