.header {
  display: flex;
  max-width: 1411px;
  margin: 0 auto;
  padding-top: 31px;
  align-items: center;

  @media (max-width: $tablet-width) {
    padding-top: 14px;
    padding-right: 0;
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    box-sizing: border-box;
    min-width: 320px;
    margin: 0 auto;
    padding-top: 4px;
    padding-right: 19px;
    padding-left: 15px;
  }
}

.header__container {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;

  background-color: $dark;
  background-image: url("../../img/background-desktop@1x.png"), url("../../img/triangles-desktop.svg"), url("../../img/boards-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: center center, 80% bottom, 85% 70%;
  background-size: cover, auto, auto 515px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/background-desktop@2x.png"), url("../../img/triangles-desktop.svg"), url("../../img/boards-desktop@2x.png");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../../img/background-tablet@1x.png"), url("../../img/triangles-tablet.svg"), url("../../img/boards-tablet@1x.png");
  }

  @media (max-width: $tablet-width) and (min-resolution: $retina-dpi), (max-width: $tablet-width) and (min-resolution: $retina-dppx) {
    background-image: url("../../img/background-tablet@2x.png"), url("../../img/triangles-tablet.svg"), url("../../img/boards-tablet@2x.png");
  }

  @media (max-width: $tablet-width) {
    background-position: center top, right top, right 33%;
    background-size: cover, auto 82%, auto 50%;
  }

  @media (max-width: $mobile-width) {
    background-image: url("../../img/background-tablet@1x.png"), url("../../img/triangles-tablet.svg"), url("../../img/boards-mobile@1x.png");
  }

  @media (max-width: $mobile-width) and (min-resolution: $retina-dpi), (max-width: $mobile-width) and (min-resolution: $retina-dppx) {
    background-image: url("../../img/background-tablet@2x.png"), url("../../img/triangles-tablet.svg"), url("../../img/boards-mobile@2x.png");
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
    padding-right: 0;
    background-position: center top, 65% top, 88% 22%;
    background-size: cover, auto 82%, auto 34%;
  }
}

.header__menu {
  min-width: 37px;
  margin-right: 8.38%;
  margin-left: 8.38%;
}
