.header {
  display: flex;
  margin: 0 auto;
  padding-top: 33px;
  align-items: center;
  max-width: 1411px;

  @media (max-width: $tablet-width) {
    padding-top: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (max-width: $mobile-width) {
    box-sizing: border-box;
    min-width: 320px;
    margin: 0 auto;
    padding-top: 4px;
    padding-left: 15px;
    padding-right: 19px;

    // временно
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header__container {
    // background-color: $dark;
}

.header__menu {
  min-width: 37px;
  margin-right: 8.38%;
  margin-left: 8.38%;
}
