.main {
  min-height: 2866px;
  outline: 1px solid red;

  @media (max-width: $tablet-width) {
    min-height: 2898px;  // временно для сетки
  }

  @media (max-width: $mobile-width) {
    min-height: 3537px; // временно для сетки
  }
}
