.main {
  max-width: 1411px;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: $tablet-width) {
    // min-height: 2898px;  // временно для сетки
  }

  @media (max-width: $mobile-width) {
   min-width: 320px;
   height: 3536px;
  }
}
