.modal {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 150;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 490px;
  background-color: $light;
  cursor: auto;
  transform: translate(0, -50%);

  &--closed {
    display: none;
  }
}

.modal__form {
  padding: 29px 40px 40px;
  width: 490px;

  & p:first-of-type {
    @include roboto-cond(28px, 400, 39px);
  }

  & p:nth-of-type(2) {
    margin-top: 12px;
    padding-right: 20px;
  }
}

.modal__form img {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.modal__inner {
  margin-top: 33px;
  padding-right: 0;
}

.modal__inner .form__field:nth-of-type(2) {
  margin-top: 33px;
}

.modal__field {
  display: flex;
  flex-grow: 1;
}

.modal__field input {
  flex-grow: 1;
  padding-top: 15px;
  padding-right: 23px;
  padding-left: 23px;
}

.modal textarea {
  margin-top: 33px;
  padding-right: 23px;
  padding-left: 23px;
  min-height: 104px;
  max-height: 104px;
}

.modal button {
  display: block;
  flex-grow: 1;
  margin-bottom: 25px;
  padding: 14px 0;
}

.modal__acceptance {
  flex-wrap: wrap;
  margin-top: 30px;
}

.modal__acceptance label {
  padding-right: 20px;
  padding-left: 47px;
  width: 100%;
}
