.questions {
  background-color: $light;
  background-image: url("../../img/triangles.svg"), url("../../img/triangle-left-white.svg"), url("../../img/triangle-right-white.svg");
  background-position: 15% 50%, 99.3% 10%, 105.3% 108%;
  background-size: auto;
  background-repeat: no-repeat;

  @media (max-width: $tablet-width) {
    background-image: none;
  }
}

.questions__inner {
  display: flex;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 113px;
  max-width: 1220px;

  @media (max-width: $tablet-width) {
    padding-top: 78px;
    padding-bottom: 101px;
  }

  @media (max-width: $mobile-width) {
    padding: 29px 15px 40px;
  }
}

.questions__image {
  padding-top: 69px;
  width: 51.3%;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.questions__image img {
  max-width: none;
}
