.questions {
  background-color: $light;
width: 100%;
max-width: 100%;
height: 672px;
  background-image: url("../../img/questions-triangles.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/questions-triangles.svg");
  }
}

.questions__inner {
  display: flex;
  max-width: 1220px;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 113px;


  @media (max-width: $tablet-width) {
    padding-top: 78px;
    padding-bottom: 101px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 29px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.questions__image {
  width: 51.3%;
  padding-top: 69px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.questions__image img {
  max-width: none;
}
