.questions {
  display: flex;
  max-width: 1220px;
  margin: 92px auto 117px;
  background-color: $light;
}

.questions__image {
  outline: 1px solid red;
  width: 621px;
  padding-top: 69px;
}

.questions__image img {
  max-width: none;
}
