.service {
  margin-top: 100px;
  color: $white;
  background-color: $dark;
}

.service__inner {
  max-width: 1170px;
  margin: 101px auto 0;
  padding-top: 58px;
  padding-bottom: 129px;
  outline: 1px solid red;
}

.service h2 {
  @include roboto-cond(36px, 400, 51px);
  margin-bottom: 49px;
}

.service ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service li {
  position: relative;

  & a {
    display: block;
    min-width: 370px;
    min-height: 620px;
    padding-top: 53px;
    padding-right: 155px;
    padding-left: 43.74px;
    cursor: pointer;
    color: $white;
    background-repeat: no-repeat;

    @include roboto-cond(20px, 400, 30px);
  }

  &:not(:first-child) a {
    margin-left: 30px;
  }

  &:first-child a {
    background-image: url("../../img/production-desktop@1x.png");
    background-position: center;
    background-size: cover;
  }

  &:nth-child(2) a {
    background-image: url("../../img/assembling-desktop@1x.png");
    background-position: center;
    background-size: cover;
  }

  &:last-child a {
    background-image: url("../../img/components-desktop@1x.png");
    background-position: center;
    background-size: cover;
  }
}

.service li a::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 63px;
  height: 63px;
  content: "";
  background: url("../../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.service li > a,
.service li > a:link,
.service li > a:visited {
  color: $white;
}

.service li > a:focus,
.service li > a:hover {
  opacity: 0.5;
}
