.service {
  margin-top: 100px;
  background-color: $dark;
  color: $white;

  @media (max-width: $tablet-width) {
    margin-top: 83px;
  }
}

.service__inner {
  margin: 101px auto 0;
  padding-top: 58px;
  padding-bottom: 129px;
  max-width: 1220px;
  padding-left: 25px;
  padding-right: 25px;

  @media (max-width: $tablet-width) {
    margin: 82px auto 0;
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 25px;
  }

  @media (max-width: $mobile-width) {
    padding: 7px 15px 35px;
  }
}

.service h2 {
  @include roboto-cond(36px, 400, 51px);
  margin-bottom: 49px;

  @media (max-width: $tablet-width) {
    @include roboto-cond(32px, 400, 51px);
    margin-bottom: 16px;
    padding-right: 100px;
  }

  @media (max-width: $mobile-width) {
    @include roboto-cond(28px, 400, 41px);
    padding-right: 0;
    padding-left: 10px;
  }
}

.service ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }

  @media (max-width: $mobile-width) {
    margin-top: 40px;
  }
}

.service li {
  position: relative;
  width: 32.05%;

  @media (max-width: $tablet-width) {
    margin: 23px 0;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    margin: 0 0 29px;
  }

  & a {
    @include roboto-cond(20px, 400, 30px);
    display: block;
    padding-top: 53px;
    padding-right: 155px;
    padding-left: 43.74px;
    min-height: 620px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    cursor: pointer;

    @media (max-width: $tablet-width) {
      padding-top: 40px;
      padding-right: 510px;
      padding-left: 45px;
      min-height: 256px;
    }

    @media (max-width: $mobile-width) {
      padding-left: 35px;
      padding-right: 63px;
      padding-top: 18px;
    }
  }

  &:first-child a {
    background-image: url("../../img/production-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/production-desktop@2x.png");
    }

    @media (max-width: $tablet-width) {
      background-image: url("../../img/production-tablet@1x.png");
    }

    @media (max-width: $tablet-width) and (min-resolution: $retina-dpi), (max-width: $tablet-width) and (min-resolution: $retina-dppx) {
      background-image: url("../../img/production-tablet@2x.png");
    }

    @media (max-width: $mobile-width) {
      background-image: url("../../img/production-mobile@1x.png");
    }

    @media (max-width: $mobile-width) and (min-resolution: $retina-dpi), (max-width: $mobile-width) and (min-resolution: $retina-dppx) {
      background-image: url("../../img/production-mobile@2x.png");
    }
  }

  &:nth-child(2) a {
    background-image: url("../../img/assembling-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/assembling-desktop@2x.png");
    }

    @media (max-width: $tablet-width) {
      background-image: url("../../img/assembling-tablet@1x.png");
    }

    @media (max-width: $tablet-width) and (min-resolution: $retina-dpi), (max-width: $tablet-width) and (min-resolution: $retina-dppx) {
      background-image: url("../../img/assembling-tablet@2x.png");
    }

    @media (max-width: $mobile-width) {
      background-image: url("../../img/assembling-mobile@1x.png");
    }

    @media (max-width: $mobile-width) and (min-resolution: $retina-dpi), (max-width: $mobile-width) and (min-resolution: $retina-dppx) {
      background-image: url("../../img/assembling-mobile@2x.png");
    }
  }

  &:last-child a {
    background-image: url("../../img/components-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/components-desktop@2x.png");
    }

    @media (max-width: $tablet-width) {
      background-image: url("../../img/components-tablet@1x.png");
    }

    @media (max-width: $tablet-width) and (min-resolution: $retina-dpi), (max-width: $tablet-width) and (min-resolution: $retina-dppx) {
      background-image: url("../../img/components-tablet@2x.png");
    }

    @media (max-width: $mobile-width) {
      background-image: url("../../img/components-mobile@1x.png");
    }

    @media (max-width: $mobile-width) and (min-resolution: $retina-dpi), (max-width: $mobile-width) and (min-resolution: $retina-dppx) {
      background-image: url("../../img/components-mobile@2x.png");
    }
  }
}

.service li a::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 63px;
  height: 63px;
  background: url("../../img/arrow.svg");
  background-color: $light;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}

.service li > a,
.service li > a:link,
.service li > a:visited {
  color: $white;
}

.service li > a:focus,
.service li > a:hover {
  opacity: 0.5;
}
