body,
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  @include ptmono(16px, 400, 22px);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}
