.pixel-perfect {
  opacity: 0.5;
  background-image: url("../../img/media/smart-device-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
    opacity: 0.5;
    background-image: url("../../img/media/smart-device-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center top;
  }

  @media (max-width: $mobile-width) {
    opacity: 0.5;
    background-image: url("../../img/media/smart-device-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center top;
  }
}
