$dark: #1b2d37;
$light: #00b2ff;
$brand-name: #203c42;
// $company: red;
$slogan: #788891;
// $slogan: red;
$white: #ffffff;
// $white: red;
$grey: #666666;
$white--10opacity: rgba(255, 255, 255, 0.1);
$white--50opacity: rgba(255, 255, 255, 0.5);
$line: rgba(38, 41, 38, 0.2);
$nav: rgba(11, 18, 22, 0.5);

$mobile-width: 767px;
$tablet-width: 1023px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
