$dark: #1b2d37;
$light: #00b2ff;
// $company: #203c42;
$company: red;
// $slogan: #788891;
$slogan: red;
// $white: #fff;
$white: red;
$grey: #666;
$white--10opacity: rgba(255,255,255,.1);
$white--50opacity: rgba(255,255,255,.5);
$line: #626962;
$category: #1b2d37;

$mobile-width: 767px;
$tablet-width: 1023px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
